<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	<extension-point id="org.eclipse.agents.modelContextProtocolServer"
		name="Model Context Protocol Server"
		schema="schema/modelContextProtocolServer.exsd" />

	<extension point="org.eclipse.ui.trace.traceComponents">
		<component
			id="org.eclipse.agents.traceComponent"
			label="Coding Agent Services">
			<bundle
				name="org.eclipse.agents">
			</bundle>
		</component>
	</extension>
	
	<extension point="org.eclipse.ui.keywords">
		<keyword label="MCP"
			id="org.eclipse.agents.keyword.mcp" />
		<keyword label="ACP"
			id="org.eclipse.agents.keyword.acp" />
		<keyword label="MODEL"
			id="org.eclipse.agents.keyword.model" />
		<keyword label="CONTEXT"
			id="org.eclipse.agents.keyword.agent" />
		<keyword label="AGENT"
			id="org.eclipse.agents.keyword.client" />
		<keyword label="CLIENT"
			id="org.eclipse.agents.keyword.context" />
		<keyword label="PROTOCOL"
			id="org.eclipse.agents.keyword.protocol" />
		<keyword label="CODING"
			id="org.eclipse.agents.keyword.coding" />
		<keyword label="CLI"
			id="org.eclipse.agents.keyword.cli" />
	</extension>

	<extension point="org.eclipse.ui.activities">
		<category id="org.eclipse.agents.activity"
			description="Connect Agentic clients to Model Context Protocol servers running within the workbench"
			name="Agent Context Services" />
	</extension>
	
</plugin>
