<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   
   <extension point="org.eclipse.ui.console.consoleFactories">
       <consoleFactory 
          label="Agent Chat"
          class="org.eclipse.agent.acp.view.AcpChatFactory"
          icon="icons/template_obj.png">
       </consoleFactory>
    </extension>
	
	<extension point="org.eclipse.ui.views">
      <view id="org.eclipse.agent.acp.view.AcpView" name="ACP Chat" class="org.eclipse.agent.acp.view.AcpView" icon="icons/templates.png" />
   </extension>
   
   <extension point="org.eclipse.ui.keywords">
        <keyword label="MCP"
            id="org.eclipse.agent.acp.keyword.acp"/>
        <keyword label="AGENT"
            id="org.eclipse.agent.acp.keyword.agent"/>
        <keyword label="CLIENT"
            id="org.eclipse.agent.acp.keyword.client"/>
        <keyword label="PROTOCOL"
            id="org.eclipse.agent.acp.keyword.protocol"/>
  </extension>
  
   <extension point="org.eclipse.ui.preferencePages">
		<page
			id="org.eclipse.agent.acp.preferences.general"
			name="ACP Services"
			class="org.eclipse.agent.mcp.internal.preferences.McpGeneralPreferencePage">
			<keywordReference id="org.eclipse.agent.acp.keyword.acp" />
			<keywordReference id="org.eclipse.agent.acp.keyword.agent" />
			<keywordReference id="org.eclipse.agent.acp.keyword.client" />
			<keywordReference id="org.eclipse.agent.acp.keyword.protocol" />
		</page>
	</extension>

	<extension point="org.eclipse.core.runtime.preferences">
		<initializer
			class="org.eclipse.agent.mcp.internal.preferences.PreferenceInitializer" />
	</extension>
	
	 <extension point="org.eclipse.ui.menus">
      <menuContribution locationURI="toolbar:org.eclipse.agent.acp.view.AcpView">
         <toolbar id="com.ibm.systemz.db2.toolbar.connection" label="%capability.category.name">
               <control id="org.eclipse.agent.acp.view.actions.ModelToolbarSelector"
                        class="org.eclipse.agent.acp.view.actions.ModelToolbarSelector"/>
         </toolbar>
         <command commandId="org.eclipse.agent.acp.cmd.model" tooltip="Select Model" style="pulldown"/>
         <command commandId="org.eclipse.agent.acp.cmd.mode" tooltip="Select Mode"  style="pulldown"/>
         <!--dynamic
                  class="org.eclipse.agent.acp.view.ToolbarButtonContributor"
                  id="org.eclipse.agent.acp.view.ToolbarButtonContributor">
            </dynamic-->
      </menuContribution>
      <menuContribution locationURI="menu:org.eclipse.agent.acp.cmd.model">
         <dynamic 
                  id="org.eclipse.agent.acp.view.ToolbarButtonContributor"
                  class="org.eclipse.agent.acp.view.ToolbarButtonContributor"/>
      </menuContribution>
      <!--menuContribution locationURI="menu:org.eclipse.agent.acp.cmd.mode">
         <dynamic 
                  id="org.eclipse.agent.acp.view.ToolbarButtonContributor"
                  class="org.eclipse.agent.acp.view.ToolbarButtonContributor"/>
      </menuContribution-->
   </extension>
   

   <extension point="org.eclipse.ui.commands">
      <category description="ACP" id="org.eclipse.agent.acp.cmd.category" name="ACP" />
      <command name="Model" description="Select Model" categoryId="org.eclipse.agent.acp.cmd.category" defaultHandler="org.eclipse.agent.acp.view.CommandHandler" id="org.eclipse.agent.acp.cmd.model" />
      <command name="Mode" description="Select Mode" categoryId="org.eclipse.agent.acp.cmd.category" defaultHandler="org.eclipse.agent.acp.view.CommandHandler" id="org.eclipse.agent.acp.cmd.mode" />
   </extension>

   <!--extension point="org.eclipse.ui.commandImages">
      <image commandId="org.eclipse.agent.acp.cmd.model" icon="icons/new_template.png"/>
      <image commandId="org.eclipse.agent.acp.cmd.mode" icon="icons/template_obj.png" />
   </extension-->

   <extension point="org.eclipse.ui.bindings">
      <key sequence="M1+M3+M 1" commandId="org.eclipse.agent.acp.cmd.model" schemeId="org.eclipse.ui.defaultAcceleratorConfiguration" contextId="org.eclipse.agent.acp.AcpView"/>
      <key sequence="M1+M3+M 2" commandId="org.eclipse.agent.acp.cmd.mode" schemeId="org.eclipse.ui.defaultAcceleratorConfiguration" contextId="org.eclipse.agent.acp.AcpView"/>
   </extension>

</plugin>
