<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>


	
	<extension
          point="org.eclipse.mcp.modelContextProtocolServer"
          id="org.eclipse.mcp.platform"
          name="Eclipse Platform Services">
       <contributor
             id="org.eclipse.mcp.db2.zos.contributor"
             name="Db2 for z/OS MCP services"
             description="Db2 for z/OS MCP Services for running SQL queries"
             provider="Developer for z"
             activityId="org.eclipse.mcp.db2.zos">
          <factory class="com.ibm.systemz.db2.mcp.FactoryProvider"/>
       </contributor>
    </extension>
    
     <extension point="org.eclipse.ui.activities">
   
       <activity id="org.eclipse.mcp.db2.zos" 
           description="Services for Db2 for z/OS"
           name="Db2 for z/OS MCPEclipse Platform Services" />
   
       <categoryActivityBinding activityId="org.eclipse.mcp.db2.zos"
           categoryId="org.eclipse.mcp.activity" />
    
       <defaultEnablement id="org.eclipse.mcp.db2.zos" />
     </extension>

   
  <extension point="org.eclipse.ui.preferencePages"> 
      <page 
         id="com.ibm.systemz.db2.mcp.tools.properties.Db2zOSMcpProperties" 
         name="Db2 for z/OS" 
         category="org.eclipse.mcp.preferences.general"
         class="com.ibm.systemz.db2.mcp.tools.properties.Db2zOSMcpProperties">
         <keywordReference id="com.ibm.systemz.db2.keyword.db2"/>
         <keywordReference id="com.ibm.systemz.db2.keyword.sql"/>
		 <keywordReference id="org.eclipse.mcp.keyword.mcp" />
		 <keywordReference id="org.eclipse.mcp.keyword.model" />
		 <keywordReference id="org.eclipse.mcp.keyword.context" />
		 <keywordReference id="org.eclipse.mcp.keyword.protocol" />
      </page>
   </extension> 
</plugin>
