chunked-markdown {
	border-color: var(--info_fg);
	border-top-width: thin;
	border-bottom-width: thin;
	border-style: solid;
	border-radius: 4px;
	display: block;
	margin-bottom: 10px;
	padding-left: 6px;
	padding-right: 6px;	
}

span.resource-link {
	width: max-content;
	padding-left: 2px;
	padding-right: 2px;
	margin-left: 2px;
	margin-right: 2px;
	column-gap: 2px;
	border-color: var(--link-color);
	border-width: thin;
	border-style: solid;
	border-radius: 4px;
	color: var(--link_fg);
	
}

span.resource-link a {
	column-gap: 2px;	
	max-width: 100%;
	overflow-wrap: anywhere;
	overflow-x: hidden;
	overflow-y: hidden;
	color: var(--link_fg);
}

span.resource-link img {
	vertical-align: text-bottom;
	column-gap: 2px;
	max-width: 100%;
}

span.resource-link a:hover {
	color: var(--link_active_fg);
}