<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	
	<extension
          point="org.eclipse.mcp.modelContextProtocolServer"
          id="org.eclipse.mcp.platform"
          name="Eclipse Platform Services">
       <contributor
             id="org.eclipse.mcp.platform.contributor"
             name="Eclipse Platform Services"
             description="Eclipse Platform Services for Files, Editors, Consoles and Markers"
             provider="Eclipse"
             activityId="org.eclipse.mcp.platform">
          <factory class="org.eclipse.mcp.platform.FactoryProvider"/>
       </contributor>
    </extension>
    
     <extension point="org.eclipse.ui.activities">
   
       <activity id="org.eclipse.mcp.platform" 
           description="Services for Editors, Files, Consoles, Problems and Tasks"
           name="Eclipse Platform Contexts" />
   
       <categoryActivityBinding activityId="org.eclipse.mcp.platform"
           categoryId="org.eclipse.mcp.activity" />
    
       <defaultEnablement id="org.eclipse.mcp.platform" />
     </extension>

	<extension point="org.eclipse.ui.preferencePages">
		<page
			id="org.eclipse.agents.preferences.general"
			class="org.eclipse.agents.contexts.internal.preferences.AgentGeneralPreferencePage"
			name="Coding Agents">
			<keywordReference id="org.eclipse.agents.keyword.mcp" />
			<keywordReference id="org.eclipse.agents.keyword.acp" />
			<keywordReference id="org.eclipse.agents.keyword.model" />
			<keywordReference id="org.eclipse.agents.keyword.agent" />
			<keywordReference id="org.eclipse.agents.keyword.client" />
			<keywordReference id="org.eclipse.agents.keyword.context" />
			<keywordReference id="org.eclipse.agents.keyword.protocol" />
			<keywordReference id="org.eclipse.agents.keyword.coding" />
		</page>
		<page
			id="org.eclipse.mcp.preferences.general"
			name="Agent Contexts"
			category="org.eclipse.agents.preferences.general"
			class="org.eclipse.agents.contexts.internal.preferences.McpGeneralPreferencePage">
			<keywordReference id="org.eclipse.agents.keyword.mcp" />
			<keywordReference id="org.eclipse.agents.keyword.acp" />
			<keywordReference id="org.eclipse.agents.keyword.model" />
			<keywordReference id="org.eclipse.agents.keyword.agent" />
			<keywordReference id="org.eclipse.agents.keyword.client" />
			<keywordReference id="org.eclipse.agents.keyword.context" />
			<keywordReference id="org.eclipse.agents.keyword.protocol" />
			<keywordReference id="org.eclipse.agents.keyword.coding" />
		</page>
		
	</extension>

	<extension point="org.eclipse.core.runtime.preferences">
		<initializer
			class="org.eclipse.agents.contexts.internal.preferences.PreferenceInitializer" />
	</extension>

	<extension point="org.eclipse.ui.startup">
		<startup class="org.eclipse.agents.contexts.internal.Startup" />
	</extension>

</plugin>
